table#sequenceTable.table.table-striped
	thead
		tr
			th Sequence
			th Count
			th Blocked
			th Mappings
	tbody
		for sequence in sequences
			tr.sequenceRow(id='sequence_#{sequence.id}', data-id='#{sequence.id}', data-content='#{sequence.content}')
				td
					| #{sequence.content}

				td
					| #{sequence.total_count}

				td
					.btn-group.blocked(data-toggle='buttons-radio', data-value='#{sequence.blocked}')
							button.btn.btn-mini(name='yes') Yes
							button.btn.btn-mini(name='no') No

				td
					ul.sequence-mappings.inline
						li.edit
							button.btn.btn-mini(name='add-mapping')
								i.iconic-plus
